@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;  
}

@layer utilities {
  .dark-gradient {
    background: linear-gradient(180deg, #000000 0%, #38393D 100%);
  }
  .green-gradient {
    background: linear-gradient(240deg, rgba(79,87,66,1)  0%, rgba(44,46,43,1) 100%);
  }
  .dark-green-gradient {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,87,66,1) 35%, rgba(44,46,43,1) 100%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 22, 24, 28;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, #fcfcfc 0%, #f7cdc7 100%);
}


